.card-images{
    height: 300px;
    -webkit-filter: blur(1px) brightness(0.5);
    -moz-filter: blur(1px) brightness(0.5);
    -ms-filter: blur(1px) brightness(0.5);
    -o-filter: blur(1px) brightness(0.5);
    filter: blur(1px) brightness(0.5);
}
.card{
    transition: 1s linear;
}
.card:hover{
    transform: scale(1.05);
}
